<template>
  <ion-page>    
    <ion-content :fullscreen="true">
      <div class="login-container container mx-auto">
         <div class="text-center p-2 text-2xl font-semibold">Login to your account</div>
         <div class="py-5 px-8">
            <input placeholder="Email" type="email" 
            class="mb-7 form-input block w-full py-3 
               rounded-lg shadow-sm border-2 
               border-gray-300 focus:border-indigo-300 
               focus:ring-2 focus:ring-indigo-200 font-semibold
               focus:ring-opacity-50" />

            <input placeholder="Password" type="password" 
            class="mb-10 form-input block w-full py-3 
               rounded-lg shadow-sm border-2 font-semibold
               border-gray-300 focus:border-indigo-300 
               focus:ring-2 focus:ring-indigo-200 
               focus:ring-opacity-50" />

            <ion-button class="text-16 font-semibold capitalize text-white bg-accent" fill="clear" expand="block" size="large" router-link="/account/dashboard">Login</ion-button>

            <div class="text-center py-4 text-sm font-semibold">Forgot Password? <span class="text-indigo-700">Reset</span></div>

            <ion-button class="text-16 font-semibold capitalize text-white bg-gray-700" router-link="/register" fill="clear" expand="block" size="large">New here? Sign Up</ion-button>
         </div>
      </div>
    </ion-content>
  </ion-page>
</template>

<script>
import { IonContent, IonPage, IonButton } from '@ionic/vue';

export default ({
  name: 'Login',
   components: {
      IonContent,
      IonPage,
      IonButton
   }
});
</script>
<style scoped>

</style>