<template>
  <ion-page>    
    <ion-content :fullscreen="true">    
      <div class="login-container container mx-auto">
         <div class="text-center p-2 text-2xl font-semibold">Create Account</div>
            <div class="py-5 px-8">
               <div class="mb-7">
                  <input placeholder="Full name" type="text" :rules="rules.email"
                  class="mb-2 form-input block w-full py-3 
                     rounded-lg shadow-sm border-2 font-semibold capitalize
                     border-gray-300 focus:border-indigo-300 
                     focus:ring-2 focus:ring-indigo-200 
                     focus:ring-opacity-50" />
               </div>

               <input placeholder="Email" type="email" 
               class="mb-7 form-input block w-full py-3 
                  rounded-lg shadow-sm border-2 font-semibold
                  border-gray-300 focus:border-indigo-300 
                  focus:ring-2 focus:ring-indigo-200 
                  focus:ring-opacity-50" />

               <input placeholder="Password" type="password" 
               class="mb-7 form-input block w-full py-3 
                  rounded-lg shadow-sm border-2 font-semibold
                  border-gray-300 focus:border-indigo-300 
                  focus:ring-2 focus:ring-indigo-200 
                  focus:ring-opacity-50" />

               <input placeholder="Mobile number" type="number" 
               class="mb-7 form-input block w-full py-3 
                  rounded-lg shadow-sm border-2 font-semibold
                  border-gray-300 focus:border-indigo-300 
                  focus:ring-2 focus:ring-indigo-200 
                  focus:ring-opacity-50" />

               <ion-button class="text-16 font-semibold capitalize text-white bg-accent" fill="clear" expand="block" size="large" @click="register()">Register</ion-button>

               <div class="text-center py-4 text-xs font-semibold">By Signing up, I agree to <span class="text-indigo-700">Terms of use</span> and <span class="text-indigo-700">Privacy Policy</span></div>
               
               <ion-button class="text-16 mt-5 font-semibold capitalize text-white bg-gray-700" router-link="/login" fill="clear" expand="block" size="large">Login to an existing account</ion-button>
            </div>
         </div>
      </ion-content>
   </ion-page>
</template>

<script>
import {mapActions} from 'vuex'
import { IonContent, IonPage, IonButton, toastController } from '@ionic/vue';

export default ({
   components: {
      IonContent,
      IonPage,
      IonButton
   },
   data() {
      return {
         form: { device: 'mobile' },
         message: '',
         color: 'dark',
			rules: {
            email: [
               (v) => !!v || 'Email field is required',
               (v) => /.+@.+\..+/.test(v) || 'Email must be valid email',
            ]
         },
			passwordRules: [
				(v) => !!v || 'Password number is required',
				(v) => v.length >= 6 || 'Password must be at least six characters',
			],
			passwordRules2: [
				(v) => !!v || 'Password Confirmation is required',
				(v) => v == this.form.password || 'Password must match',
			],
      }
   },

   methods: {
      ...mapActions('user',{
         register:'register'
      }),

      async register() {
         try{
           // let response = await this.register(this.form)
            this.message = "Response"
            this.openToast()
         } catch(err) {
            this.color = 'danger',
            this.message = "err.response"
            this.openToast()
         }
      },

      async openToast() {
         const toast = await toastController
         .create({
            message: this.message,
            duration: 2000,
            position: 'top',
            color: this.color,
            mode: "ios"
         })
         return toast.present();
      }
   }, 

   computed: {
      
   },
   
   mounted() {
      
   }
});
</script>
<style scoped>
</style>