<template>
   <ion-page>
      <ion-content :scroll-events="true" @ionScrollStart="logScrollStart()" @ionScroll="logScrolling($event)" @ionScrollEnd="logScrollEnd()" class="ion-page" id="mainContent" main>
         <div class="container">
            <div v-if="notifications.length == 0" class="login-container text-center text-xl font-semibold text-gray-600">Hurray! no notifications here</div>
            <template v-else>
               <div class="grid grid-cols-2 gap-4 mt-5 text-xl mx-5 font-semibold">
                  <div>iStore</div>
                  <div class="text-right mt-1">
                     <ion-icon name="search-outline" ></ion-icon>
                  </div>
               </div>
               <div class="container mt-1">
                  <div class="grid grid-cols-2">
                     
                     <div class="text-lg bg-gray-700 mb-2 shadow-sm h-40"></div>
                     <div class="p-3 bg-gray-50 mb-2 shadow-sm">
                        <div class="font-bold">Demo</div>
                     </div>

                     <div class="text-lg bg-gray-700 mb-3 shadow-sm h-40"></div>
                     <div class="p-3 bg-gray-50 mb-3 shadow-sm">
                        <div class="font-bold">Demo</div>
                     </div>
                  </div>
               </div>
            </template>
         </div>
      </ion-content>
   </ion-page>
</template>

<script>
import { IonContent, IonIcon, IonPage  } from '@ionic/vue'

export default ({
   components: {
      IonContent, IonIcon, IonPage
   },

   data() {
      return {
         notifications: [],
      }
   },

   methods: {
      
   }
});
</script>
<style scoped>
</style>