@font-face {   
   font-family: 'Poppins';
   src: url('../assets/fonts/Poppins/Poppins-Regular.ttf');
}
* {
   font-family: 'Poppins';
}
.white--text {
   --color: #ffffff;
}
.text-accent {
   color: #ff6128;
}
.bg-accent {
   background-color: #ff6128;
}
.bg-accent-50 {
   background-color: #ffab8c;
}
.login-container {  
   position: absolute;
   left: 0;
   right: 0;
   top: 50%;
   transform: translateY(-50%);
}
.text-16 {
   font-size: 16px;
}
ion-button {
   @apply rounded-lg shadow-sm
}
.auth-bg {
   background-repeat: no-repeat;
   background-size:cover;
}
ion-icon {
   font-size: 24px;
   --ionicon-stroke-width: 30px;
 }