<template>
   <ion-menu menu-id="app-menu" content-id="main-content">
      <div class="bg-gray-50 p-5 text-gray-700 shadow-sm m-2 mb-5 rounded-xl">
         <div class="font-semibold">Chizitere Anthony</div>
         <div>tonysmart.ct@gmail.com</div>
      </div>
      <ion-content>
         <ion-list>
            <ion-item lines="none" class="mb-2 font-semibold" button @click="menuNavigation('/account/dashboard')"><ion-icon class="mr-2" :icon="apps" /> Store</ion-item>
            <ion-item lines="none" class="mb-2 text-accent text-sm font-semibold border-b border-t">My Library</ion-item>
            <ion-item lines="none" class="mb-2 font-semibold" button @click="menuNavigation('/account/ibooks')"><ion-icon class="mr-2" :icon="book" /> My Books</ion-item>
            <ion-item lines="none" class="mb-2 font-semibold" button router-link="/account/discussion"><ion-icon style="ios" class="mr-2" :icon="chatbubbles" /> Discussions</ion-item>
            <ion-item lines="none" class="mb-2 font-semibold" button @click="logout()"><ion-icon style="ios" class="mr-2" :icon="logOut" /> Logout</ion-item>
            <ion-item lines="none" class="mb-2 font-semibold" button router-link="/account/discussion"><ion-icon style="ios" class="mr-2" :icon="helpCircle" />Help &amp; Support</ion-item>
            <ion-item lines="none" class="mb-2 font-semibold" button router-link="/account/discussion"><ion-icon style="ios" class="mr-2" :icon="informationCircle" />About Us</ion-item>
         </ion-list>
      </ion-content>
   </ion-menu>
</template>

<script>
import { IonMenu, IonContent, IonList, IonItem, IonIcon, menuController } from '@ionic/vue'
import { chatbubbles, apps, helpCircle, notifications, book, informationCircle, logOut } from 'ionicons/icons';

export default {
   components: {
      IonContent, IonList, IonItem, IonMenu, IonIcon
   },

   data() {
      return {
         chatbubbles, apps, notifications, book, informationCircle, helpCircle, logOut
      }
   },

   methods: {
      async logout() {
         this.$router.push('/login')
      },
      menuNavigation(url){
         menuController.close("app-menu");
         this.$router.push(url);
      }
   }
}
</script>