<template>
   <ion-page>
      <ion-header mode="ios">
         <div class="m-2 rounded-xl px-5 py-4 bg-accent text-white">
            <div class="grid items-stretch flex grid-cols-6 gap-4">
               <div class="col-span-5 text-lg font-semibold"><img src="../assets/images/user.svg" class="w-8 inline mr-2" style="vertical-align: bottom" @click="openMenu()"/> LegalStudies</div>
               <div @click="gotoNotifications()" class="pt-1">
                  <ion-icon :icon="notifications"></ion-icon>
               </div>
            </div>
         </div>
      </ion-header>
      <ion-content>
         <slot></slot>
      </ion-content>

      <ion-tabs>
         <ion-router-outlet></ion-router-outlet>
         <ion-tab-bar class="shadow-2xl">
            <slot name="bottom">
               
               <ion-tab-button tab="ibooks" href="/account/ibooks">
                  <ion-icon :icon="book" />
                  <ion-label>
                     <div>iBooks</div>
                  </ion-label>
               </ion-tab-button>

               <ion-tab-button tab="dashboard" href="/account/dashboard">
                  <ion-icon :icon="home" />
                  <ion-label>
                     <div>Home</div>
                  </ion-label>
               </ion-tab-button>

               <ion-tab-button tab="cart" href="/account/carts">
                  <ion-icon :icon="cart" />
                  <ion-label>
                     <div>My Cart</div>
                  </ion-label>
               </ion-tab-button>
               
            </slot>
         </ion-tab-bar>
      </ion-tabs>
   </ion-page>   
</template>

<script>
import { IonPage, IonLabel, IonHeader, IonIcon, IonContent, IonTabs, IonTabBar, IonTabButton, IonRouterOutlet, menuController } from '@ionic/vue'
import { logout, square, home, notifications, book, cart } from 'ionicons/icons';

export default {
   name: 'AuthenticatedLayout',

   components: {
      IonContent, IonHeader, IonTabs, IonTabBar, IonTabButton, IonRouterOutlet, IonPage, IonIcon, IonLabel
   },

   data() {
      return {
         logout, notifications, square, book, cart, home
      }
   },

   methods: {
      openMenu() {
         menuController.open('app-menu');
      },

      beforeTabChange() {
         // do something before tab change
      },

      afterTabChange() {
         // do something after tab change
      },

      gotoNotifications() {
         this.$router.push('/account/notifications')
      }
   }
}
</script>